$font-stack: Helvetica, sans-serif;

$primary-color: black;
$secondary-color: white;


//Media Queries
//Large Screen - 993 to 1170 screen size
@mixin lg-screen{
  @media only screen and (max-width: 1170px) {
      @content;
  }
}
//Medium Screen - 768 to 992 screen size
@mixin md-screen{
  @media only screen and (max-width: 992px) {
      @content;
  }
}
//Medium Screen - 575 to 767 screen size
@mixin sm-screen{
  @media only screen and (max-width: 767px) {
      @content;
  }
}
//Medium Screen - below 575 screen size
@mixin xs-screen{
  @media only screen and (max-width: 575px) {
      @content;
  }
}

html,
body {
  margin: 0 auto;
  font: 100% $font-stack;
  text-align: center;
  color: $primary-color;
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 */
  -o-user-select: none;
  user-select: none;
}

// T y p o g r a p h y
h1 {
  font-size: 3rem;
  @include lg-screen {
    font-size: 3rem;
  }

  @include md-screen {
      font-size: 3rem;
  }

  @include sm-screen {
      font-size: 4rem;
  }

  @include xs-screen {
      font-size: 3rem;
  }
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

// L I N K S
a {
  color: $primary-color;
}
a:hover {
  color: $secondary-color;
}

hr {
  border: 0;
  border-top: 2px solid $primary-color;
  border-radius: 1px;
}

.icon {
  color: $primary-color;
}

// I M A G E S
img {
  width: 50%;
  @include lg-screen {
    width: 50%;
  }

  @include md-screen {
    width: 50%;
  }

  @include sm-screen {
    width: 100%;
  }

  @include xs-screen {
    width: 100%;
  }
}


// H E A D E R
// N A V B A R
nav {
  background-color: $secondary-color;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
  top: 0; /* Stay on top */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  @include sm-screen {
    display: none;
  } 
  @include xs-screen {
    display: none;
  }
  ul {
    list-style-type: none;
    @include sm-screen {
      padding: 2rem;
    } 
    @include xs-screen {
      padding: 2rem;
    }
  }

  li {
    padding: 1rem 0;
    display: inline-block;
    @include sm-screen {
      display: block;
    } 
    @include xs-screen {
    display: block;
  }
    
  }

  a {
    text-decoration: none;
    padding:  0 1rem;

  }
}

#hamburger {
  font-size: xx-large;
  margin: .4rem 1rem;
  position: fixed;
  right: 0;
  display: none;
  z-index: 2;
  @include sm-screen {
    display: block;
  }
  @include xs-screen {
    display: block;
  } 
  :hover{
    color: $secondary-color;
    cursor: pointer;
  }
}


// H O M E
.home {
  max-height: 100%;
  height: 100vh;
  z-index: -1;
  padding: 3rem 1rem;
  background-color: $secondary-color;
  a {
    font-size: 1.8rem;
    padding: 0 .4rem;
  }
  .home-container {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0; 
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    button {
      border: none;
      color: $primary-color;
      margin: 1rem;
      background-color: $secondary-color;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1rem;
    }
    button:hover {
      background-color: $secondary-color;
      cursor: pointer;
    }
  }
  // typed.js
  .text-animation {
    color: $primary-color;
  }  
}


// A B O U T
.about {
  padding: 2rem;
  margin: 0 auto;
  position: relative;
  z-index: -1;
  background-color: $secondary-color;
}


// S K I L L S
.skills {
  padding: 2rem;
  margin: 0 auto;
  position: relative;
  z-index: -1;
  list-style-type: none;
  text-align: center;
  background-color: $secondary-color;
  overflow: hidden;
  p {
    color: $primary-color;
  }

  }
  .skill {
    display: inline-block;
    margin: 0 auto;
    padding: 0 1rem
  }
  
  .skill-icons {
    font-size: 2rem;
    color: $primary-color; 
}

// P R O J E C T S
.projects {
  padding: 2rem;
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
  background-color: $secondary-color;
  overflow: hidden;
  .project-icons {
    font-size: 2rem;
  }
  .project-url {
    display: inline-block;
    margin: 0 auto;
    padding: 0 1rem;
  
  }
  
  .card {
    padding: 2rem;
    display: inline-block;
    margin: 0 auto;

  }
  
  a {
    text-decoration: none;
  }
  h3 {
    color: $primary-color;
  }

}

// F O O T E R
footer {
  background-color: $secondary-color;
  padding: 2rem;
}