@import url('https://fonts.googleapis.com/css2?family=Anton&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$font-stack: 'JetBrains', monospace;

$primary-color: grey;
$secondary-color: black;

$grid-width: 100rem; // 1000px
$gutter-vertical: 4rem; //40px
$gutter-horizontal: 10rem; // 40px

//Media Queries
//Large Screen - 993 to 1170 screen size
@mixin lg-screen{
  @media only screen and (max-width: 1170px) {
      @content;
  }
}
//Medium Screen - 768 to 992 screen size
@mixin md-screen{
  @media only screen and (max-width: 992px) {
      @content;
  }
}
//Medium Screen - 575 to 767 screen size
@mixin sm-screen{
  @media only screen and (max-width: 767px) {
      @content;
  }
}
//Medium Screen - below 575 screen size
@mixin xs-screen{
  @media only screen and (max-width: 575px) {
      @content;
  }
}

html,
body {
  margin: 0 auto;
  font-family: $font-stack;
  color: $primary-color;
  background-color: $secondary-color;
  padding: .5rem;
  text-align: left;
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 */
  -o-user-select: none;
  user-select: none;
}

// N A V B A R
a {
  text-decoration: none;
}

.sections {
  @include sm-screen {
    display: none;
  } 
  @include xs-screen {
    display: none;
  }
}

// T y p o g r a p h y
h1 {
  font-size: 8rem;
  margin: 0 auto;
  line-height: 1;
  font-weight: 600;
  font-family: 'Anton', sans-serif;
  @include lg-screen {
    font-size: 8rem;
  }

  @include md-screen {
      font-size: 7rem;
  }

  @include sm-screen {
      font-size: 7rem;
  }

  @include xs-screen {
      font-size: 4rem;
  }
}
h2 {
  font-size: 5rem;
  font-family: 'Anton', sans-serif;
  -webkit-text-stroke: 0.1rem $primary-color;
  color: $secondary-color;
  font-stretch: 0%;
  font-weight: 200;
  line-height: 1;
  margin: 0 auto;
  @include lg-screen {
    font-size: 4rem;
  }

  @include md-screen {
      font-size: 4rem;
  }

  @include sm-screen {
      font-size: 4rem;
  }

  @include xs-screen {
      font-size: 4rem;
  }
}

h2:hover {
  -webkit-text-stroke: 0.1rem $secondary-color;
  color: $primary-color;
}
h3 {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1;
  margin: 0 auto;
}

// L I N K S
a {
  color: $primary-color;
}
a:hover {
  color: $primary-color;
}

hr {
  border: 0;
  border-top: 1.5px solid $primary-color;
  border-radius: 1.5px;
}


.wrapper {
  max-width: $grid-width;
  margin: 0 auto;
  align-items: stretch;
  justify-content: space-between;
  display: flex; 
  flex-wrap: wrap;
}

#home {
  font-size: 1.2rem;
}

.row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}