@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$font-stack: 'JetBrains', monospace;

$primary-color: black;
$secondary-color: white;


//Media Queries
//Large Screen - 993 to 1170 screen size
@mixin lg-screen{
  @media only screen and (max-width: 1170px) {
      @content;
  }
}
//Medium Screen - 768 to 992 screen size
@mixin md-screen{
  @media only screen and (max-width: 992px) {
      @content;
  }
}
//Medium Screen - 575 to 767 screen size
@mixin sm-screen{
  @media only screen and (max-width: 767px) {
      @content;
  }
}
//Medium Screen - below 575 screen size
@mixin xs-screen{
  @media only screen and (max-width: 575px) {
      @content;
  }
}

html,
body {
  margin: 0 auto;
  font: 100% $font-stack;
  font-family: $font-stack;
  color: $primary-color;
  background-color: $secondary-color;
  padding:1rem;
  text-align: left;
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 */
  -o-user-select: none;
  user-select: none;
}

// T y p o g r a p h y
h1 {
  font-size: 2.5rem;
  font-weight: 600;
  @include lg-screen {
    font-size: 2rem;
  }

  @include md-screen {
      font-size: 2rem;
  }

  @include sm-screen {
      font-size: 2rem;
  }

  @include xs-screen {
      font-size: 2rem;
  }
}


// L I N K S
a {
  color: $primary-color;
}
a:hover {
  color: $primary-color;
}

hr {
  border: 0;
  border-top: 1.5px solid $primary-color;
  border-radius: 1.5px;
}

.icon {
  color: $primary-color;
}

// N A V B A R
nav {
  display: flex;
  justify-content: left;
  width: 100%;
  z-index: 1;
  top: 0; /* Stay on top */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  @include sm-screen {
    display: none;
  } 
  @include xs-screen {
    display: none;
  }
  ul {
    list-style-type: none;
    @include sm-screen {
      padding: 2rem;
    } 
    @include xs-screen {
      padding: 2rem;
    }
  }

  li {
    display: inline-block;
    @include sm-screen {
      display: block;
    } 
    @include xs-screen {
    display: block;
  }
    
  }

  a {
    text-decoration: none;
    padding:  0 1rem;
  }
}